# Server Configuration
PORT=5000
JWT_SECRET=slv-events-pricing-secret-key-2026

# Database Configuration (Optional - Defaults to SQLite slv_events.db locally)
# DATABASE_URL=postgresql://username:password@hostname:port/dbname
